In [28]:
import pandas as pd

df = pd.read_csv('world-GDP.csv')

df.head(3)

,Series Name,Series Code,Country Name,Country Code,1990 [YR1990],2000 [YR2000],2011 [YR2011],2012 [YR2012],2013 [YR2013],2014 [YR2014],2015 [YR2015],2016 [YR2016],2017 [YR2017],2018 [YR2018],2019 [YR2019],2020 [YR2020]
0,GDP per capita growth (annual %),NY.GDP.PCAP.KD.ZG,Afghanistan,AFG,..,..,-2.6810808487635,8.97487956759655,1.97416862890145,-0.665270517697508,-1.62288667166976,-0.541697283221794,0.0642502596261778,-1.19534700138595,1.536912103353,..
1,GDP per capita growth (annual %),NY.GDP.PCAP.KD.ZG,Albania,ALB,-11.1879052985212,7.63386640301194,2.82155792832297,1.5851564748466,1.18720390657059,1.98542610277399,2.51685298606618,3.48011700478818,3.89771066605221,4.32839557846702,2.6765495559812,..
2,GDP per capita growth (annual %),NY.GDP.PCAP.KD.ZG,Algeria,DZA,-1.75407287637006,2.39950644017823,0.980204694065236,1.40179670455332,0.761674962215665,1.7104495162547,1.60047829963881,1.10456792075536,-0.750499557879863,-0.811208543893287,-1.13069230350092,..

In [32]:
df_clean = df.drop(columns=['Series Name', 'Series Code', 'Country Code', '2020 [YR2020]'])
df_clean = df_clean.rename(columns={"1990 [YR1990]": "31-12-1990", "2000 [YR2000]": "31-12-2000",
                                    "2011 [YR2011]": "31-12-2011","1990 [YR1990]": "31-12-1990",
                                    "2012 [YR2012]": "31-12-2012","2013 [YR2013]": "31-12-2013",
                                    "2014 [YR2014]": "31-12-2014","2015 [YR2015]": "31-12-2015",
                                    "2016 [YR2016]": "31-12-2016","2017 [YR2017]": "31-12-2017",
                                    "2018 [YR2018]": "31-12-2018","2019 [YR2019]": "31-12-2019"})
df_clean.head(3)

,Country Name,31-12-1990,31-12-2000,31-12-2011,31-12-2012,31-12-2013,31-12-2014,31-12-2015,31-12-2016,31-12-2017,31-12-2018,31-12-2019
0,Afghanistan,..,..,-2.6810808487635,8.97487956759655,1.97416862890145,-0.665270517697508,-1.62288667166976,-0.541697283221794,0.0642502596261778,-1.19534700138595,1.536912103353
1,Albania,-11.1879052985212,7.63386640301194,2.82155792832297,1.5851564748466,1.18720390657059,1.98542610277399,2.51685298606618,3.48011700478818,3.89771066605221,4.32839557846702,2.6765495559812
2,Algeria,-1.75407287637006,2.39950644017823,0.980204694065236,1.40179670455332,0.761674962215665,1.7104495162547,1.60047829963881,1.10456792075536,-0.750499557879863,-0.811208543893287,-1.13069230350092

In [33]:
world_GDP = pd.melt(df_clean, 'Country Name', var_name='Date', value_name='GDPperCapGrowth%')
print(world_GDP.head())

     Country Name        Date    GDPperCapGrowth%
0     Afghanistan  31-12-1990                  ..
1         Albania  31-12-1990   -11.1879052985212
2         Algeria  31-12-1990   -1.75407287637006
3  American Samoa  31-12-1990                  ..
4         Andorra  31-12-1990  -0.142614681962741

In [34]:
spain_GDP = world_GDP[world_GDP['Country Name'] == 'Spain']
spain_GDP

     Country Name        Date   GDPperCapGrowth%
179         Spain  31-12-1990   3.67576777434031
448         Spain  31-12-2000    4.7764514150568
717         Spain  31-12-2011  -1.16619262555828
986         Spain  31-12-2012  -3.02242536982695
1255        Spain  31-12-2013  -1.11189885449343
1524        Spain  31-12-2014   1.68744970379751
1793        Spain  31-12-2015   3.91576845137082
2062        Spain  31-12-2016   2.94434855983185
2331        Spain  31-12-2017   2.73236058269681
2600        Spain  31-12-2018   1.98240197894862
2869        Spain  31-12-2019   1.34586217089219

In [35]:
mexico_GDP = world_GDP[world_GDP['Country Name'] == 'Mexico']
mexico_GDP

     Country Name        Date    GDPperCapGrowth%
127        Mexico  31-12-1990    3.20338784922272
396        Mexico  31-12-2000    3.44098587862088
665        Mexico  31-12-2011    2.22716085156813
934        Mexico  31-12-2012    2.24714512087824
1203       Mexico  31-12-2013  0.0294494166966643
1472       Mexico  31-12-2014    1.54404526389864
1741       Mexico  31-12-2015    2.01902339450821
2010       Mexico  31-12-2016    1.40302896491124
2279       Mexico  31-12-2017    0.93145570428166
2548       Mexico  31-12-2018    1.05030514644675
2817       Mexico  31-12-2019   -1.13936444823929